---
main: foo, bar, qaz
---
{% if page.ext == '.ipynb' %}
{{ content }}
{% else %}
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">

<head>
  {% include layout/meta.html %}
  {% include layout/styles.html %}
  <style id="pageBody">body{display:none !important;}</style>
  {%- if site.google_analytics_ua or site.dap_agency -%}
  {% include layout/analytics.html %}
  {%- endif -%}
  <script type="text/javascript">
      if (self === top) {
          var noFrames = document.getElementById("pageBody");
          noFrames.parentNode.removeChild(noFrames);
      } else {
          top.location = self.location;
      }
  </script>
  <script>0</script>
</head>

<body id="pageBody" class="{%- if site.site_width -%}site-{{ site.site_width }}{%- endif -%}">

    {% include layout/skipnav.html %}
    {% include layout/header.html %}

    <!-- <main id="main-content"> -->

        {%- if page.alerts -%}
        <div aria-label="Alerts">
          <section class="grid-container">
          {% for _alert in page.alerts %}
          {% include alert.html alert=_alert %}
          {% endfor %}
          </section>
        </div>
        {%- endif -%}

        {{ content }}
        <br>

    <!-- </main> -->
    {% include layout/footer.html %}

    {% include layout/scripts.html %}
  
  </body>
  
  </html>
{% endif %}